<div class="top-product">
    <div class="block_container">
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <div class="title-block">
                    <h2 class="section-title black">Chersegi</h2>
                    <h6 class="title-category">Сухе</h6>
                    <div class="icon icon-tilde">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                            <path
                                d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                                fill="#c09560"></path>
                        </svg>
                    </div>
                    <p class="title-description">Вино створене з винограду сорту <a>Черсегі Фюсереш</a>, що
                        перекладається з
                        угорської мови, як Черсегі пряний та вирощується в Україні тільки на виноградниках Шато
                        Чизай.
                        Його насичений букет сповнений ароматами квітів та літніх фруктів. Смак вина яскравий,
                        фруктово-пряний, з витонченою гірчинкою, тонами абрикосу та освіжаючою кислотністю.

                        Вино здобуло Срібну медаль <a>London Wine Competition</a>
                        2021.</p>
                    <p class="title-price"><span class="woocommerce-Price-amount amount"><bdi>115.00&nbsp;<span
                                    class="woocommerce-Price-currencySymbol">Грн</span></bdi></span></p>
                    <a class="btn-def black dataForGA" style="margin-left: 2%;margin-bottom: 10px;" data-price="410"
                        data-name="Chersegi" data-id="43014">купити</a>
                    <a class="btn-def black" style="margin-left: 2%; margin-bottom: 10px;" target="_blank">Всі вина</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- eeee -->
<div class="block_container">
    <h2 class="section-title black">Колекції</h2>
    <div class="shop_preview row">

        <a [routerLink]="[ '/product/chateau-chizay' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop1.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Chateau Chizay</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/carpathian-sekt' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop2.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Carpathian Sekt</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/dry-wines' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop3.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Витримані сухі вина</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/grape-white_blend' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop4.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">GRAPE WHITE BLEND</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/dream-country' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop5.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Країна Мрій</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/kosher-wines' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop6.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Кошерні вина</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/grape-juice' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop7.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Сік виноградний</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/ice-wine' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop8.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Ice Wine</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/authors-wines' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop9.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Авторські вина</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/fruit-collection' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop10.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Фруктова колекція</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/gift-sets' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop11.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Подарункові набори</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/gift-certificates' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop12.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Подарункові Сертифікати</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/limited-edition' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop13.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Limited Edition</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/homemade-wine' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop14.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Домашнє Вино</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/bag-in-box' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop15.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Вино bag-in-box</p>
            </div>
        </a>

        <a [routerLink]="[ '/product/accessories' ]" class="col-md-3 col-6 shop-preview__item-wrapper">
            <div class="collections-slider__item">
                <img src="../../../assets/images/shop16.png">
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="collections-slider__item--description">Аксесуари</p>
            </div>
        </a>

    </div>
</div>



<!-- wwwww -->
<div class="block_restouran_hotel">
    <div class="block_container content">
        <h2>Купляй онлайн зі знижкою до 10%</h2>
        <div class="baner-links">
            <a class="btn-def white">Програма лояльності</a>
        </div>
    </div>
</div>