#navbarNav{
    flex-grow: 0;
}
.logo{
    width: 95px;
    height: 94px;
    margin-top: 2.5px;
}
.head{
    width: 100%;
    transition: 1s;
    position: absolute;
    top: 30px;
    font-family: "Open Sans",sans-serif;
}
.dl, ol, ul {
    margin-top: -20px;
}
.container{
    width: 100%;
    max-width: 1230px;
    height: 99px;
    margin: 0 auto;
    position: relative;
}
//shop head
.shop_head{
    height: 120px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

//color nav bar
.navbar-brand svg{
    fill: white;
}
.navbar-brand svg:hover{
    fill: #ae8758;
}
#navbarNav .navbar-nav .nav-link:hover {
    color: #ae8758;
}
.navbar-nav{
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: inherit;
}
.text_color, .text_color svg{
    color: rgb(0, 0, 0);
    fill: rgb(0, 0, 0);
}
.color_scroll , .color_scroll svg{
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}
.nav-link{
    color: inherit;
}
a{
    margin-left: 5px;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.head_scroll{
    position: fixed;
    top: 0;
    background: rgba(50,50,50,.9);
    z-index: 999;
    color: white;
} 
  //darc color


  //admin btn
.admin-btn{
    position: absolute;
    bottom: -50%;
    right: 10px;
}

//list basket
.line{
    margin: 5px 0;
    height: 1px;
    margin-left: auto;
    width: 85%;
}
.list-basket{
    display: flex;
    justify-content:flex-end;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#shopping-bag-2 ,#man-user{
    width: 15px;
}
.icon svg{
    fill: #ae8758;
    text-align: center;
}
.block-nav-shop{
    margin-top: -20px;
}


@media( max-width: 991px){
    a{
        font-size: 13px;

    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }
}
@media(max-width: 767px){
    .head{
        top: 0;
    }
}


