
<div class="block_container menu">
    <div class="recipe_title">
        <h2>Рецепти зі столу нашого шефа</h2>
    </div>

    <div class="recipe_menu container">
        <div class="row">
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R1.jpg">
                <a class="news-archive__subtitle">Закарпатський Бограч</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R2.jpg">
                <a class="news-archive__subtitle">Виноградні равлики по- Закарпатськи!</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R3.jpg">
                <a class="news-archive__subtitle">Чорні вареники з індичкою під соусом з білих грибів</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R4.jpg">
                <a class="news-archive__subtitle">Дошка закарпатських делікатесів</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
        </div>
    </div>
</div>