<div class="block_container menu">
    <div class="recipe_title">
        <h2>Корисні новини</h2>
    </div>

    <div class="recipe_menu container">
        <div class="row">
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news1.jpg">
                <a class="news-archive__subtitle">Червоний король. Каберне Совіньйон: відомий, але щоразу цікавий</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news5.jpg">
                <a class="news-archive__subtitle">Не турбувати – відбувається магія! Скарбниця з п’янким ароматом –
                    новий винний погріб Шато Чизай</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news2.jpg">
                <a class="news-archive__subtitle">Столовий виноград від Шато Чизай – коли корисне таке смачне</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news3.jpg">
                <a class="news-archive__subtitle">Мистецтво для щастя. Майстер-клас від Олесі Смирнової з Fluid Art</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>

        </div>
    </div>

    <div class="recipe_title marg">
        <h2>Наші новини</h2>
    </div>

    <div class="recipe_menu container marg">
        <div class="row">
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news6.jpg">
                <a class="news-archive__subtitle">Виноградна лоза повинна страждати, або Особливості теруару
                    Закарпаття</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news7.jpg">
                <a class="news-archive__subtitle">Йога на винограднику – радість для тіла та душі</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news8.jpg">
                <a class="news-archive__subtitle">Виноробство і винний туризм. Запрошуємо на відкрите навчання від
                    експертів з регіону Бордо 27 і 28 травня 2021 року</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/news9.jpg">
                <a class="news-archive__subtitle">7 відзнак конкурсу «Odesa Wine & Spirit Awards» – у Шато Чизай!</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>

            <div class="recipe_menu container marg">
                <div class="row">
                    <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                        <img src="../../../assets/images/news10.jpg">
                        <a class="news-archive__subtitle">Вино і кава: що спільного? Перша колаборація виноробної та
                            кавової компаній: Кава з бочки!</a>
                        <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
                    </div>
                    <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                        <img src="../../../assets/images/news11.jpg">
                        <a class="news-archive__subtitle">Компліменти для розе. Про виробництво і маркетинг трендового
                            вина – на французько-українському семінарі</a>
                        <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
                    </div>
                    <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                        <img src="../../../assets/images/news12.jpg">
                        <a class="news-archive__subtitle">Винне рандеву. Як французькі та українські вина …
                            змагалися</a>
                        <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
                    </div>
                    <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                        <img src="../../../assets/images/news13.jpg">
                        <a class="news-archive__subtitle">Прощаємося з 2020. Вітаємо з 2021!</a>
                        <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
