<div class="bg_image">
    <div class="block_container">
        <div class="head">
            <h2>Про нас</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p>Шато Чизай – легендарна історія <br> про любов і вино. Найкращі українські вина від Закарпатських
                виноробів.</p>
            <div class="container">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="btn-def nav-link white" (click)="BTN(1)">ШАТО</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-def nav-link white" (click)="BTN(2)">ІСТОРІЯ</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-def nav-link white" (click)="BTN(3)">ВИНОГРАДНИКИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-def nav-link white" (click)="BTN(4)">Команда</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="block_container">
    <!-- block content -->
    <div class="aboutUs" *ngIf="isShow == 1">
        <div class="block ">
            <img src="../../../assets/images/Sh01.jpg">
            <img src="../../../assets/images/Sh02.jpg">
            <img src="../../../assets/images/Sh03.jpg">
        </div>
        <div class="block">
            <h2>Чому Шато?</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p class="bolt_text">Шато – це заміський маєток, оточений виноградниками. Саме цим французьким поняттям і
                його естетикою ми надихалися, коли створювали Chateau Chizay, що біля старовинного містечка Берегово.
            </p>
            <p>Закарпаття- це історичний виноградний край. Схили вулканічних Карпат, багато сонця і достатньо води
                зумовили розвиток виноробства на цих землях з давніх часів. Закарпатські вина постачалися до дворів
                середньовічних королів та вельмож, ба навіть президентів сучасних держав.</p>
            <p>Культура Закарпатського виноробства унікальна, тому що протягом історичних перипетій об’єднала в собі
                угорську, італійську та австрійську традиції. Саме результат цього культурного сплаву дав такий цікавий
                і колоритний продукт – як Закарпатське вино.</p>
            <div class="icon_text">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" id="grapes" viewBox="0 0 38 32.1" xml:space="preserve">
                        <path class="bcst0"
                            d="M33.1 17.8c-1.1-1-2.4-1.7-3.7-2.1v.3c0 .6-.1 1.3-.4 1.8 1 .4 1.9.9 2.7 1.6 2.6 2.5 2.8 6.9 2.8 8.7-1.8.1-6.2.2-8.9-2.3-.3-.3-.5-.5-.7-.8-.5.5-1.1.9-1.8 1.1.3.4.7.8 1.1 1.2 2.6 2.4 6.3 2.9 8.8 2.9 1.5 0 2.5-.2 2.6-.2l.8-.1.1-.8c0-.3.6-7.5-3.4-11.3zm-21.7 7.9c-2.6 2.5-7 2.4-8.9 2.3 0-1.8.2-6.2 2.8-8.7.8-.7 1.7-1.3 2.7-1.6-.3-.5-.4-1.2-.4-1.8v-.3c-1.3.4-2.6 1.1-3.7 2.1C-.2 21.6.5 28.7.5 29l.1.8.8.2c.1 0 1.1.2 2.6.2 2.5 0 6.3-.5 8.8-2.9.5-.4.8-.9 1.2-1.4-.7-.2-1.3-.5-1.8-1-.2.3-.5.6-.8.8z">
                        </path>
                        <path class="bcst0"
                            d="M18.2 22c0-1.8-1.4-3.2-3.2-3.2-1.8 0-3.2 1.4-3.2 3.2 0 1.8 1.4 3.2 3.2 3.2 1.8 0 3.2-1.5 3.2-3.2zm6.8 0c0-1.8-1.4-3.2-3.2-3.2-1.8 0-3.2 1.4-3.2 3.2 0 1.8 1.4 3.2 3.2 3.2 1.7 0 3.2-1.5 3.2-3.2zm-6.6 2.7c-1.8 0-3.2 1.4-3.2 3.2 0 1.8 1.4 3.2 3.2 3.2s3.2-1.4 3.2-3.2c0-1.7-1.4-3.2-3.2-3.2zm-6.7-5.6c1.8 0 3.2-1.4 3.2-3.2 0-1.8-1.4-3.2-3.2-3.2s-3.2 1.4-3.2 3.2c-.1 1.8 1.4 3.2 3.2 3.2zm6.7 0c1.8 0 3.2-1.4 3.2-3.2 0-1.8-1.4-3.2-3.2-3.2s-3.2 1.4-3.2 3.2c-.1 1.8 1.4 3.2 3.2 3.2zm6.7 0c1.8 0 3.2-1.4 3.2-3.2 0-1.8-1.4-3.2-3.2-3.2s-3.2 1.4-3.2 3.2c-.1 1.8 1.4 3.2 3.2 3.2zm-6.6-8.6c.7 0 1.2-.6 1.2-1.2V3.4c0-.7-.6-1.2-1.2-1.2s-1.2.6-1.2 1.2v5.9c-.1.7.5 1.2 1.2 1.2z">
                        </path>
                    </svg>
                    <p>272 гектари <br> винограду</p>
                </div>
                <div class="vine">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.9 60.5" id="bottle">
                        <path
                            d="M14.8 22.1V11.4c0-.3-.3-.6-.6-.6h-3.4c-.3 0-.6.3-.6.6v10.7c0 2.1-4.5 4.5-4.5 7.5v24.8c0 .7.6 2 1.9 2h9.9c1.3 0 1.9-1.2 1.9-2V29.6c0-2.9-4.6-5.4-4.6-7.5zm1.7 21.3h-8V33.1h8v10.3z"
                            fill="#ba9752"></path>
                    </svg>
                    <p>1,3 мільйона <br> пляшок в рік</p>
                </div>
                <div class="barrel">
                    <svg xmlns="http://www.w3.org/2000/svg" id="barrel" viewBox="0 0 35 51" xml:space="preserve">
                        <g id="alXMLID_55_">
                            <path id="alXMLID_1256_" class="alst0"
                                d="M27 26.3c0-1.2-.2-2.4-.3-3.6 0-.1-.1-.2-.2-.2H7.1c-.1 0-.2.1-.2.2-.2 1.2-.3 2.4-.3 3.6 0 .1.1.2.2.2h20c.1 0 .2-.1.2-.2z">
                            </path>
                            <path id="alXMLID_1254_" class="alst0"
                                d="M26.7 33.1c.2-1.2.3-2.4.3-3.6 0-.1-.1-.2-.2-.2h-20c-.1 0-.2.1-.2.2 0 1.2.2 2.4.3 3.6 0 .1.1.2.2.2h19.4l.2-.2z">
                            </path>
                            <path id="alXMLID_1251_" class="alst0"
                                d="M25.4 39c.3-.9.5-1.8.7-2.7 0-.1-.1-.3-.2-.3H7.6c-.1 0-.3.1-.2.3.2.9.4 1.8.7 2.7l.7 2.4c0 .1.1.2.2.2h15.5c.1 0 .2-.1.2-.2l.7-2.4z">
                            </path>
                            <path class="alst0"
                                d="M26.1 19.5c-.2-.9-.4-1.8-.7-2.7l-.4-1.5c-.2-.7-.8-1.2-1.6-1.2h-8.7c-.1 0-.2-.1-.2-.2V12c0-.1.1-.2.2-.2h1.6c.1 0 .2.1.2.2s.1.2.2.2H19c.1 0 .2-.1.2-.2V8.8c0-.1-.1-.2-.2-.2h-2.3c-.1 0-.2.1-.2.2s-.1.2-.2.2h-4.5v4.5H9.4c-.3 0-.6.2-.7.5l-.6 2c-.3.9-.5 1.8-.7 2.7 0 .1.1.3.2.3h18.3c.1.7.2.6.2.5z">
                            </path>
                        </g>
                    </svg>
                    <p>250 бочок <br> в нашому підвалі</p>
                </div>
            </div>
            <p>І ми у Шато Чизай робимо його виключно із свого Закарпатського винограду. 272 гектари винограду на
                досконалих теруарах Закарпаття. Майстри, які поважають місцеві традиції, і навчилися в Європі сучасного
                виноробства. Натхнення від історії, енергія для майбутнього. Це все додано в букет наших вин.</p>
            <p>Виноробний комплекс Шато Чизай заснований 1995-го року в урочищі Чизай, що біля міста Берегово на
                Закарпатті. Ми побудували сучасне виробництво з нуля, але з увагою до місцевої історії виноробства. Наші
                принципи – це працелюбність і чесність, повага до природи і любов до своєї справи.</p>
            <p>Робити просто якісні вина – цікаво, але ми хочемо більшого. Нас не влаштовує бути тільки найкращими. Має
                бути унікальним. Ми творимо нову історію виноробства Закарпаття та Європи, і сьогодні Chateau Chizay –
                це не винзавод, а виноробне містечко, осередок благородного ремесла і рукотворне диво Закарпаття.</p>
            <p>Так, ми робимо вино. Але – більше, ніж вино. Творимо емоції. І – нову славу Закарпатського Вина. Це –
                філософія Chateau Chizay. Вміємо і любимо! Ласкаво просимо у наш світ!</p>
            <div class="btn_muzeum">
                <a class="btn-def black">ПОДИВИТИСЬ МУЗЕЙ</a>
            </div>
        </div>
    </div>
    <div class="aboutUs" *ngIf="isShow == 2">
        <div class="block ">
            <img src="../../../assets/images/k1.jpg">
            <img src="../../../assets/images/k2.jpg">
            <img src="../../../assets/images/k3.jpg">
            <img src="../../../assets/images/k4.jpg">
        </div>
        <div class="block">
            <h2>Де починається <br> історія?</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p class="bolt_text">Знайомтеся: засновник Виноробного комплексу Геннадій Йосипович Гутман із портретом діда, який навчив любити вино і рідну землю. Та почалося все набагато раніше…
            </p>
            <p><span class="bolt_text">Початок XIII століття.</span> Король Угорщини Іштван II дарує землю своєму підданому на ім’я Чепан. У 1230 році спадкоємцем стає син Чиз. Володіння називають Чиз-тай, “маєток Чиза”. Згодом урочище називатимуть «Чизай».</p>
            <p><span class="bolt_text">XV століття.</span> Виноробний маєток в урочищі Чизай з’являється на угорських мапах. Це постачальник вина володарям Мукачівського замку, королівським дворам Європи та царям північних земель.</p>
            <p><span class="bolt_text">ХVIII і XIX століття.</span> Доба Австро-Угорщини – час розквіту. Місцеві винороби вдосконалюють свої вміння, вина регіону відомі в Європі.</p>
            <p><span class="bolt_text">1870-ті роки.</span> З новими лозами на Закарпаття потрапляє філоксера. Шкідник винищує більше половини виноградників в Європі.</p>
            <p><span class="bolt_text">Кінець XIX – поч. XX століття.</span> Технології виноградарства і виноробства розвиваються. На Закарпатті закладають плантації європейських і локальних сортів.</p>
            <p><span class="bolt_text">1919</span> – Берегово, що недовго було під владою румунів, перейшло до Чехословаччини.</p>
            <p><span class="bolt_text">1938 – 1944</span> роки триває угорська доба, а разом з нею і виноробні традиції. </p>
            <p><span class="bolt_text">1945</span> – Закарпаття приєднане до Радянського Союзу. Нова система руйнує звичне господарювання, але традиції не втрачені. Створення сільськогосподарських підприємств сприяє розширенню площ виноградників.</p>
            <p><span class="bolt_text">1950-60-ті роки.</span> Промислові площі винограду в регіоні – понад 14000 гектарів. </p>
            <p><span class="bolt_text">1985-1988.</span> «Антиалкогольна кампанія». На Закарпатті винищили більшість виноградників, вирубали європейські сорти, їхнє місце посіла Ізабелла. Закарпаття досі не відновило втрачене.</p>
            <p><span class="bolt_text">1995</span> – На місці старовинного виноробного маєтку Чизай будують нове підприємство.</p>
            <p><span class="bolt_text">2000</span> – Випустили мільйон пляшок вина у місяць.</p>
            <p><span class="bolt_text">2005</span> – Будівля отримує вигляд заміського палацу. Шато Чизай набуває статусу туристичного об’єкту.</p>
            <p><span class="bolt_text">2006</span> – Закладаємо власні виноградні плантації. Площа виноградників Шато Чизай – 272 гектари. Це 1 мільйон 88 тисяч саджанців.</p>
            <p><span class="bolt_text">2016</span> – Найкращі червоні вина закладаємо у баріки з французького дубу. У 2018-му продовжуємо виготовляти преміальну колекцію витриманих вин, розширивши палітру білими сортами.</p>
            <p><span class="bolt_text">2018</span> – Розпочали освітній проект Chateau Chizay Academy. Розвиваємо бренд «Закарпатське Вино» з мрією про розквіт нашого виноградарського і виноробного краю. Започаткували Пряму Дистрибуцію вин із Шато.</p>
            <p><span class="bolt_text">2019</span> – Відкрито “Музей винороба Чиза”, розпочата програма “Бордо-Закарпаття“, створено яскравий захід “Свято молодого вина” в Шато Чизай. Засновано Винний забіг «Chizay Wine Run».</p>
            <p><span class="bolt_text">2020</span> – незважаючи на кризу і карантин, ми випустили новий унікальний продукт – міцний виноградний напій Grape White Blend, створений з локальних сортів Фурмінт і Черсегі. Збудували винний погріб для преміальних вин.
                Виноградниками Шато Чизай на Малій Горі прокладений туристичний маршрут.</p>
                <p><span class="bolt_text">Історія триває…</span></p>
            <div class="btn_muzeum">
                <a class="btn-def black" [routerLink]="[ '/tours', ]">ПОДИВИТИСЬ ТУРИ</a>
            </div>
        </div>
    </div>
    <div class="aboutUs" *ngIf="isShow == 3">
        <div class="block ">
            <img src="../../../assets/images/V1.jpg">
            <img src="../../../assets/images/V2.jpg">
            <img src="../../../assets/images/V3.jpg">
        </div>
        <div class="block">
            <h2>272 Гектари дива</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p class="bolt_text">Виноградники Chateau Chizay  – це рукотворне диво Закарпаття.Щоби створити їх, ми поєднали людську працю, щедру природу і новітні знання.
            </p>
            <p>Ми облаштували плантації на тих землях регіону, що були виноградарськими традиційно, і тих, чиї умови визнані наукою досконалими для вирощування лози.</p>
            <p>Найкращі ґрунти, переважно вулканічного походження, південні схили пагорбів та м’який клімат, який дозволяє не поливати виноград штучно – місця розташування наших виноградників мають статус унікального карпатського теруару.</p>
            <div class="icon_text">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" id="grapes" viewBox="0 0 38 32.1" xml:space="preserve">
                        <path class="bcst0"
                            d="M33.1 17.8c-1.1-1-2.4-1.7-3.7-2.1v.3c0 .6-.1 1.3-.4 1.8 1 .4 1.9.9 2.7 1.6 2.6 2.5 2.8 6.9 2.8 8.7-1.8.1-6.2.2-8.9-2.3-.3-.3-.5-.5-.7-.8-.5.5-1.1.9-1.8 1.1.3.4.7.8 1.1 1.2 2.6 2.4 6.3 2.9 8.8 2.9 1.5 0 2.5-.2 2.6-.2l.8-.1.1-.8c0-.3.6-7.5-3.4-11.3zm-21.7 7.9c-2.6 2.5-7 2.4-8.9 2.3 0-1.8.2-6.2 2.8-8.7.8-.7 1.7-1.3 2.7-1.6-.3-.5-.4-1.2-.4-1.8v-.3c-1.3.4-2.6 1.1-3.7 2.1C-.2 21.6.5 28.7.5 29l.1.8.8.2c.1 0 1.1.2 2.6.2 2.5 0 6.3-.5 8.8-2.9.5-.4.8-.9 1.2-1.4-.7-.2-1.3-.5-1.8-1-.2.3-.5.6-.8.8z">
                        </path>
                        <path class="bcst0"
                            d="M18.2 22c0-1.8-1.4-3.2-3.2-3.2-1.8 0-3.2 1.4-3.2 3.2 0 1.8 1.4 3.2 3.2 3.2 1.8 0 3.2-1.5 3.2-3.2zm6.8 0c0-1.8-1.4-3.2-3.2-3.2-1.8 0-3.2 1.4-3.2 3.2 0 1.8 1.4 3.2 3.2 3.2 1.7 0 3.2-1.5 3.2-3.2zm-6.6 2.7c-1.8 0-3.2 1.4-3.2 3.2 0 1.8 1.4 3.2 3.2 3.2s3.2-1.4 3.2-3.2c0-1.7-1.4-3.2-3.2-3.2zm-6.7-5.6c1.8 0 3.2-1.4 3.2-3.2 0-1.8-1.4-3.2-3.2-3.2s-3.2 1.4-3.2 3.2c-.1 1.8 1.4 3.2 3.2 3.2zm6.7 0c1.8 0 3.2-1.4 3.2-3.2 0-1.8-1.4-3.2-3.2-3.2s-3.2 1.4-3.2 3.2c-.1 1.8 1.4 3.2 3.2 3.2zm6.7 0c1.8 0 3.2-1.4 3.2-3.2 0-1.8-1.4-3.2-3.2-3.2s-3.2 1.4-3.2 3.2c-.1 1.8 1.4 3.2 3.2 3.2zm-6.6-8.6c.7 0 1.2-.6 1.2-1.2V3.4c0-.7-.6-1.2-1.2-1.2s-1.2.6-1.2 1.2v5.9c-.1.7.5 1.2 1.2 1.2z">
                        </path>
                    </svg>
                    <p>Три виноградники <br> в Закарпатті</p>
                </div>
                <div class="vine">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.9 60.5" id="bottle">
                        <path
                            d="M14.8 22.1V11.4c0-.3-.3-.6-.6-.6h-3.4c-.3 0-.6.3-.6.6v10.7c0 2.1-4.5 4.5-4.5 7.5v24.8c0 .7.6 2 1.9 2h9.9c1.3 0 1.9-1.2 1.9-2V29.6c0-2.9-4.6-5.4-4.6-7.5zm1.7 21.3h-8V33.1h8v10.3z"
                            fill="#ba9752"></path>
                    </svg>
                    <p>Більше мільйона <br> саджанців </p>
                </div>
                <div class="barrel">
                    <svg xmlns="http://www.w3.org/2000/svg" id="barrel" viewBox="0 0 35 51" xml:space="preserve">
                        <g id="alXMLID_55_">
                            <path id="alXMLID_1256_" class="alst0"
                                d="M27 26.3c0-1.2-.2-2.4-.3-3.6 0-.1-.1-.2-.2-.2H7.1c-.1 0-.2.1-.2.2-.2 1.2-.3 2.4-.3 3.6 0 .1.1.2.2.2h20c.1 0 .2-.1.2-.2z">
                            </path>
                            <path id="alXMLID_1254_" class="alst0"
                                d="M26.7 33.1c.2-1.2.3-2.4.3-3.6 0-.1-.1-.2-.2-.2h-20c-.1 0-.2.1-.2.2 0 1.2.2 2.4.3 3.6 0 .1.1.2.2.2h19.4l.2-.2z">
                            </path>
                            <path id="alXMLID_1251_" class="alst0"
                                d="M25.4 39c.3-.9.5-1.8.7-2.7 0-.1-.1-.3-.2-.3H7.6c-.1 0-.3.1-.2.3.2.9.4 1.8.7 2.7l.7 2.4c0 .1.1.2.2.2h15.5c.1 0 .2-.1.2-.2l.7-2.4z">
                            </path>
                            <path class="alst0"
                                d="M26.1 19.5c-.2-.9-.4-1.8-.7-2.7l-.4-1.5c-.2-.7-.8-1.2-1.6-1.2h-8.7c-.1 0-.2-.1-.2-.2V12c0-.1.1-.2.2-.2h1.6c.1 0 .2.1.2.2s.1.2.2.2H19c.1 0 .2-.1.2-.2V8.8c0-.1-.1-.2-.2-.2h-2.3c-.1 0-.2.1-.2.2s-.1.2-.2.2h-4.5v4.5H9.4c-.3 0-.6.2-.7.5l-.6 2c-.3.9-.5 1.8-.7 2.7 0 .1.1.3.2.3h18.3c.1.7.2.6.2.5z">
                            </path>
                        </g>
                    </svg>
                    <p>14 сортів <br> винограду</p>
                </div>
            </div>
            <p>Посадка виноградників Chateau Chizay  у 2006-му році стала подією в Україні. Ми заклали свої плантації за новою технологією за допомоги найкращих австрійських спеціалістів, технологій і саджанців.</p>
            <p>Уже наступного сезону допомагали колегам інших регіонів України, які запросили поділитися досвідом.</p>
            <p>Зараз наші 272 гектари – це 1 мільйон 88 тисяч виноградних кущів, по одній лозі на кожного закарпатця.</p>
            <p>Це білі і червоні європейські сорти винограду. Трамінер рожевий, Рислінг Рейнський, Мускат Оттонель, Каберне Совіньйон, Мерло, Піно Нуар і Піно Блан – з наших улюблених, але не єдиних. Ми вдосконалюємо і розширюємо сортовий склад плантацій, приділяючи увагу класичним і локальним виноградам.</p>
            <p>На Закарпатті кажуть: «Вино любить сонце і тінь господаря». Кількість сонячних днів на наших виноградниках найбільша у регіоні, а наші майстри підходять до кожного куща щонайменше 5 разів за сезон.</p>
            <p>Сьогодні наші виноградники – це не тільки плантації, де зростає сировина для вина. Це туристична атракція і найкрасивіша місце, де Chateau Chizay приймає гостей. Прогулянка виноградниками – це не тільки яскраві фото. Ми впевнені: тут живе дух Закарпаття, тут натхнення нашої справи. Вміємо і любимо!</p>
            <div class="btn_muzeum">
                <a class="btn-def black">ВИБРАТИ ВИНА</a>
            </div>
        </div>
    </div>
    <div class="aboutUs" *ngIf="isShow == 4">
        <div class="block ">
            <img src="../../../assets/images/O1.jpg">
            <img src="../../../assets/images/O2.jpg">
            <img src="../../../assets/images/O3.jpg">
        </div>
        <div class="block">
            <h2>Знайомтеся, команда <br> Шато Чизай!</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p class="bolt_text">Наш колектив – це різні люди, яких об’єднує спільна справа.
            </p>
            <p>Дехто працює від дня заснування і пам’ятає, як будували виноробню, а хтось – віднедавна. Та любов тут одна на всіх, на ім’я Шато Чизай.</p>
            <p>Цю команду створив <span class="bolt_text">засновник виноробної компанії Геннадій Гутман,</span> котрий є «граючим тренером», який контролює всі творчі та робочі процеси. </p>
            <p>І, схоже, цій команді все під силу:</p>
            <ul>
                <li>доглядати 272 гектари виноградників</li>
                <li>створювати легендарне вино</li>
                <li>забезпечувати виробництво, супроводжувати вино від лози і до келиха</li>
                <li>представляти вино в Україні і закордоном</li>
                <li>приймати гостей</li>
                <li>організовувати міжнародні проєкти</li>
                <li>влаштовувати яскраві свята…</li>
            </ul>
            <p>З деким ви вже знайомі, а про когось, хто трудиться на своїй відповідальній ділянці, ще не знаєте.</p>
            <p>Менеджери, технологи, працівниці лабораторії, робітники цеху розливу та складу, ведучі дегустацій, інженери, охоронці, електрики, водії, адміністратори, логісти, економісти – сучасна компанія об’єднує фахівців багатьох спеціальностей із різноманітними кваліфікаціями.</p>
            
            <p>Особлива повага – нашим виноградарям, адже вино народжується на винограднику.</p>
            <p>Досвід і молода енергія, знання і бажання розвитку, сумлінність, відповідальність і натхнення – це все про команду Шато Чизай. </p>
            <p>Адже місія компанії – відродити славу вина України, народженого на Закарпатті.</p>
            <p>Познайомтеся з тими, чия відданість справі робить вина Шато Чизай особливими!</p>
            <p>Звісно, в цій міні-галереї не всі з команди: декого просто дуже важко спіймати для фото між роботою, але ми над цим працюємо…</p>
            <div class="btn_muzeum">
                <a class="btn-def black">ОБРАТИ ВИНО</a>
            </div>
        </div>
    </div>
</div>