#title-contact {
  font-family: "Georgia", sans-serif;
  font-size: 48px;
  color: black;
  margin: 0;
}

.block-contact {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
}

.block-contact hr {
  width: 85%;
  margin-left: 15%;
}

.container-content {
  max-width: 1230px;
  min-height: 361px;
  padding-bottom: 5px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: #ae8758;
}

.block_left {
  line-height: 35px;
}

#home, #envelope, #facebook, #phone {
  width: 20px;
}

.icon svg {
  fill: #ae8758;
  text-align: center;
}

.list {
  position: relative;
}

.list p {
  margin: 0;
}

.list p, .list a {
  color: #323232;
  display: table;
  font-size: 1.5rem;
  line-height: 1.5;
}

.icon {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translate(-50%, -50%);
}

ol, ul {
  padding-left: 4rem;
  padding-right: 3rem;
}

.line {
  display: none;
}

.icon-line {
  font-size: 0.5rem;
  margin-left: 15%;
}

.icon-line-hed {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-bottom: 30px;
}

.icon-line {
  width: 4.82609em;
}

.contact-btn {
  display: flex;
  justify-content: space-between;
  max-width: 31.25rem;
  margin: 40px 0;
}

.btn-def.black {
  color: #323232;
  border: 0.0625rem solid #323232;
}

.btn-def {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  max-width: 13.75rem;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0.625rem;
  position: relative;
  letter-spacing: 0.0625rem;
  cursor: pointer;
  margin: 0 5px;
  overflow: hidden;
}

.btn-def:hover {
  border-color: #c09560;
  color: #c09560;
}

.btn-def::after {
  background: rgb(0, 0, 0);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-def:hover::after {
  background: #c09560;
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.block_rigtn {
  position: relative;
}

.block_map {
  position: relative;
  width: 492px;
  min-height: 550px;
  height: 550px;
  margin: 10% auto;
  background-size: 180px, cover, 500px;
  background-position: bottom 50px left 10px, top 380px left -200px, center;
  background-repeat: no-repeat;
  background-color: #dfdfdf;
  background-image: url(../../../assets/images/kisspng-red-wine-wine-glass-cup-tall-wine-glass-5a6a16bfbf6959.9182614415169020797841.png), url(../../../assets/images/pngwing.com.png), url(../../../assets/images/bg-shop-2.png);
}

.animation_vine {
  overflow: hidden;
}

.bottle {
  position: absolute;
  background-image: url(../../../assets/images/animate-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 400px;
  bottom: 50px;
  left: 100px;
}

.glass {
  position: absolute;
  bottom: 130px;
  left: 99.5px;
  transform: translate(-50%, -50%);
  border-radius: 13% 13% 50% 50%/60% 60% 40% 40%;
  width: 61px;
  height: 80px;
  overflow: hidden;
}

.block-vine {
  position: absolute;
  height: 100px;
  width: 62px;
  bottom: -100px;
  transition: 8s;
  background-color: #800000;
  -webkit-animation: animate 3s ease-in-out;
          animation: animate 3s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.vine_Anim {
  bottom: 0;
}

.bottle_Anim {
  -webkit-animation: bottle 8s ease;
          animation: bottle 8s ease;
}

.line_Vine {
  width: 20px;
  height: 0;
  background-color: #800000;
  position: absolute;
  top: 190px;
  left: 103px;
  border-radius: 50px 0 0 0;
  transition: 3s;
  -webkit-animation: linevine 6s ease;
          animation: linevine 6s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes linevine {
  0%, 100% {
    -webkit-clip-path: polygon(38% 0, 33% 13%, 26% 26%, 20% 36%, 21% 53%, 20% 69%, 18% 85%, 9% 100%, 34% 100%, 39% 76%, 35% 61%, 40% 43%, 47% 30%, 57% 15%, 59% 0);
            clip-path: polygon(38% 0, 33% 13%, 26% 26%, 20% 36%, 21% 53%, 20% 69%, 18% 85%, 9% 100%, 34% 100%, 39% 76%, 35% 61%, 40% 43%, 47% 30%, 57% 15%, 59% 0);
  }
  50% {
    -webkit-clip-path: polygon(38% 0, 31% 10%, 30% 23%, 25% 36%, 18% 52%, 14% 69%, 13% 84%, 9% 100%, 34% 100%, 33% 76%, 43% 57%, 46% 38%, 52% 22%, 54% 10%, 59% 0);
            clip-path: polygon(38% 0, 31% 10%, 30% 23%, 25% 36%, 18% 52%, 14% 69%, 13% 84%, 9% 100%, 34% 100%, 33% 76%, 43% 57%, 46% 38%, 52% 22%, 54% 10%, 59% 0);
    height: 185px;
  }
  80% {
    height: 185px;
    top: 190px;
  }
  100% {
    height: 0;
    top: 375px;
  }
}

@keyframes linevine {
  0%, 100% {
    -webkit-clip-path: polygon(38% 0, 33% 13%, 26% 26%, 20% 36%, 21% 53%, 20% 69%, 18% 85%, 9% 100%, 34% 100%, 39% 76%, 35% 61%, 40% 43%, 47% 30%, 57% 15%, 59% 0);
            clip-path: polygon(38% 0, 33% 13%, 26% 26%, 20% 36%, 21% 53%, 20% 69%, 18% 85%, 9% 100%, 34% 100%, 39% 76%, 35% 61%, 40% 43%, 47% 30%, 57% 15%, 59% 0);
  }
  50% {
    -webkit-clip-path: polygon(38% 0, 31% 10%, 30% 23%, 25% 36%, 18% 52%, 14% 69%, 13% 84%, 9% 100%, 34% 100%, 33% 76%, 43% 57%, 46% 38%, 52% 22%, 54% 10%, 59% 0);
            clip-path: polygon(38% 0, 31% 10%, 30% 23%, 25% 36%, 18% 52%, 14% 69%, 13% 84%, 9% 100%, 34% 100%, 33% 76%, 43% 57%, 46% 38%, 52% 22%, 54% 10%, 59% 0);
    height: 185px;
  }
  80% {
    height: 185px;
    top: 190px;
  }
  100% {
    height: 0;
    top: 375px;
  }
}
@-webkit-keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0 24%, 11% 21%, 23% 20%, 33% 22%, 41% 25%, 51% 27%, 63% 28%, 75% 27%, 87% 25%, 100% 21%, 100% 100%, 0 100%);
            clip-path: polygon(0 24%, 11% 21%, 23% 20%, 33% 22%, 41% 25%, 51% 27%, 63% 28%, 75% 27%, 87% 25%, 100% 21%, 100% 100%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 22%, 9% 26%, 21% 29%, 31% 31%, 44% 29%, 55% 26%, 65% 23%, 78% 21%, 90% 22%, 100% 26%, 100% 100%, 0 100%);
            clip-path: polygon(0 22%, 9% 26%, 21% 29%, 31% 31%, 44% 29%, 55% 26%, 65% 23%, 78% 21%, 90% 22%, 100% 26%, 100% 100%, 0 100%);
  }
}
@keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0 24%, 11% 21%, 23% 20%, 33% 22%, 41% 25%, 51% 27%, 63% 28%, 75% 27%, 87% 25%, 100% 21%, 100% 100%, 0 100%);
            clip-path: polygon(0 24%, 11% 21%, 23% 20%, 33% 22%, 41% 25%, 51% 27%, 63% 28%, 75% 27%, 87% 25%, 100% 21%, 100% 100%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 22%, 9% 26%, 21% 29%, 31% 31%, 44% 29%, 55% 26%, 65% 23%, 78% 21%, 90% 22%, 100% 26%, 100% 100%, 0 100%);
            clip-path: polygon(0 22%, 9% 26%, 21% 29%, 31% 31%, 44% 29%, 55% 26%, 65% 23%, 78% 21%, 90% 22%, 100% 26%, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes bottle {
  0%, 100% {
    bottom: 50px;
    left: 100px;
  }
  30% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  40% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  50% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  70% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  80% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  50% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
}
@keyframes bottle {
  0%, 100% {
    bottom: 50px;
    left: 100px;
  }
  30% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  40% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  50% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  70% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  80% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
  50% {
    bottom: 120px;
    left: 210px;
    transform: rotate(-80deg);
  }
}
@media (max-width: 840px) {
  .btn-def {
    font-size: 0.75rem;
  }
}
@media (max-width: 767px) {
  .line {
    display: block;
  }
  .text {
    text-align: center;
  }
  .row {
    padding: 0 15px;
  }
  .list p {
    width: 250px;
  }
  .block_left {
    text-align: center;
  }
  .list p {
    width: 100%;
  }
  .contact-btn {
    margin: 40px auto;
    display: block;
  }
  .icon-line {
    margin-left: 0;
  }
  .block_rigtn {
    display: none;
  }
}/*# sourceMappingURL=contacts.component.css.map */