<div class="bg_image">
    <div class="container">
        <div class="head">
            <h2>Ресторан “Chizay.Мала гора”</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p>Відвідайте наш винний ресторан <br> і приєднайтеся до вражаючого смаку вина</p>
            <p>Прокрутіть для отримання додаткової інформації</p>
            <div class="icon-arrow icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.8 21.8" id="arrow">
                    <path
                        d="M16.8 13.3c.4-.4 1.1-.4 1.6 0 .4.4.4 1.1 0 1.6l-6.6 6.7c-.2.2-.5.3-.8.3s-.6-.1-.8-.3l-6.7-6.7c-.4-.4-.4-1.1 0-1.6s1.1-.4 1.6 0L9.8 18V1.1c0-.6.5-1.1 1.1-1.1S12 .5 12 1.1V18l4.8-4.7z"
                        fill="#c09560">
                    </path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="block_container">
    <div class="restouran">
        <div class="block image">
            <img src="../../../assets/images/restoran-z-nadpysom-1024x683.jpg">
        </div>
        <div class="block">
            <h2>Наш ресторан</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p class="bolt_text">«Chizay. Мала Гора» – єдиний в Україні ресторан та міні-готель, розташований посеред
                виноградної плантації.
            </p>
            <p>Досконалий краєвид вимагає відповідних кухні і сервісу, і ми з першого дня працюємо, аби вони були
                найкращі. Ви точно наш гість, якщо цінуєте красу, європейський комфорт в поєднанні зі смачною кухнею і
                закарпатськими частуваннями. У сумі виходить яскрава емоція.</p>
            <p>Наш шеф-кухар з любов’ю готує для гостей як традиційні закарпатські страви, так і вишукані європейські.
                Особливі позиції – ескарго з виноградних равликів та страви власного виробництва з екопродуктів. Наші
                крафтові сири та м’ясні вироби варті, щоб Ви їх оцінили.</p>
            <p>Пізнати істину нашого закладу Вам допоможуть вишукані вина Chateau Сhizay. Келих унікального білого
                Черсегі до лосося зі шпинатом під соусом бер блан, витриманого червоного Каберне до стейку рібай,
                елегантне розе Піно Нуар для настрою чи легендарна «Троянда Карпат» до ніжного чизкейку. Офіціанти
                підкажуть найкращі поєднання вин зі стравами.</p>
            <p>Романтичне побачення, веселе застілля компанії друзів, сімейне свято чи урочиста подія? Тут чудові умови
                для кожного приводу. Є зручний паркінг. Найменших гостей потішать ігровий майданчик та дитяча кімната,
                вихідними малечу розважає няня.</p>
            <ul>
                <li>Для бронювання та інших питань: +38 095 648 96 44</li>
                <li>Працюємо з 12:00 до 23:00 щоденно.</li>
                <li>Якщо шукаєте, де зупинитись, то спробуйте наш Міні-готель</li>
            </ul>
        </div>
    </div>
</div>
<div class="bg_img_menu">
    <div class="block_container">
        <div class="block_menu">
            <h2>Наше меню</h2>
            <p>Відкрийте для себе смачну <br>їжу, яку ми приготуємо для Вас</p>
            <a class="btn-def white">
                <span class="logo_pdf icon"> <svg xmlns="http://www.w3.org/2000/svg" id="pdf-file-format-symbol"
                        viewBox="0 0 550.8 550.8" xml:space="preserve">
                        <path class="blst0"
                            d="M160.4 282.2c0-14.8-10.3-23.7-28.5-23.7-7.4 0-12.4.7-15.1 1.4v47.6c3.1.7 6.9.9 12.2.9 19.4.1 31.4-9.7 31.4-26.2zM272.9 259c-8.1 0-13.4.7-16.5 1.4V366c3.1.7 8.1.7 12.7.7 33 .2 54.6-17.9 54.6-56.5.1-33.5-19.5-51.2-50.8-51.2z">
                        </path>
                        <path class="blst0"
                            d="M488.4 197h-13.2v-63.8c0-.4-.1-.8-.1-1.2 0-2.5-.8-5-2.6-7L366.3 3.7s-.1 0-.1-.1c-.6-.7-1.4-1.3-2.2-1.8-.2-.2-.5-.3-.7-.4-.7-.4-1.4-.7-2.1-.9-.2-.1-.4-.1-.6-.2-.7-.2-1.6-.3-2.4-.3h-261C85.3 0 75.6 9.7 75.6 21.6V197H62.4c-17 0-30.9 13.8-30.9 30.9v160.5c0 17 13.8 30.9 30.9 30.9h13.2v109.9c0 11.9 9.7 21.6 21.6 21.6h356.4c11.9 0 21.6-9.7 21.6-21.6V419.3h13.2c17 0 30.9-13.8 30.9-30.9V227.9c0-17.1-13.8-30.9-30.9-30.9zM97.2 21.6h250.2v110.5c0 6 4.8 10.8 10.8 10.8h95.4V197H97.2V21.6zM362.4 309c0 30.9-11.2 52.2-26.8 65.3-17 14.1-42.8 20.8-74.4 20.8-18.9 0-32.3-1.2-41.4-2.4V234.4c13.4-2.1 30.9-3.3 49.3-3.3 30.6 0 50.5 5.5 66 17.2 16.7 12.4 27.3 32.2 27.3 60.7zM80.7 393.5V234.4c11.2-1.9 27-3.3 49.3-3.3 22.5 0 38.5 4.3 49.3 12.9 10.3 8.1 17.2 21.5 17.2 37.3 0 15.8-5.2 29.2-14.8 38.3-12.4 11.7-30.9 17-52.4 17-4.8 0-9.1-.2-12.4-.7v57.7l-36.2-.1zm372.9 129.9H97.2V419.3h356.4v104.1zm31.3-261.3h-62V299h57.9v29.7h-57.9v64.8h-36.6V232.2h98.6v29.9z">
                        </path>
                    </svg>
                </span> Переглянути pdf</a>
        </div>
    </div>
</div>
<div class="bg_map">
    <div class="map_title">
        <br>
        <h2>Chateau Chizay</h2>
        <div class="block_map" [class]="back_img_season">
            <div [class]="season" class="snow-container"></div>
        </div>
    </div>
</div>
<div class="block_container menu">
    <div class="recipe_title">
        <h2>Рецепти зі столу нашого шефа</h2>
    </div>

    <div class="recipe_menu container">
        <div class="row">
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R1.jpg">
                <a class="news-archive__subtitle">Закарпатський Бограч</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R2.jpg">
                <a class="news-archive__subtitle">Виноградні равлики по- Закарпатськи!</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R3.jpg">
                <a class="news-archive__subtitle">Чорні вареники з індичкою під соусом з білих грибів</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
            <div class="recipe_img col-xl-3 col-lg-3 col-md-3">
                <img src="../../../assets/images/R4.jpg">
                <a class="news-archive__subtitle">Дошка закарпатських делікатесів</a>
                <a class="read-more-btn">ДЕТАЛЬНІШЕ</a>
            </div>
        </div>
    </div>
</div>