dl, h1, h2, h3, h4, h5, h6, ol, p {
  margin-top: 0;
}

.product {
  padding: 20px 0;
}

.block_container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 160px;
}

.block-product-img {
  text-align: center;
}

.shown-categories__item--description-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .3125rem;
}

.shown-categories__item--description-text {
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.25rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shown-categories__item--description-params {
  font-size: .75rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0;
}

.shown-categories__item--description-more {
  color: #c09560;
  font-size: .8125rem;
  font-weight: 600;
  margin: .625rem 0 0;
}

.btn-def.black {
  color: black;
  border: 0.0625rem solid black;
}

.btn-def {
  margin-top: 20px;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: .25rem;
  max-width: 13.75rem;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: .625rem;
  position: relative;
  letter-spacing: .0625rem;
  cursor: pointer;
  text-decoration: none;
}

.xoo-cp-btns {
  margin: 0 auto;
  clear: both;
  text-align: center;
}

a.xcp-btn {
  width: 40%;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 8px 8px;
  text-decoration: none;
  margin-right: 5px;
}

.xcp-btn {
  background-color: #fff;
  color: #323232;
  font-size: .8125rem;
  border: .0625rem solid #323232;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: .25rem;
  letter-spacing: .0625rem;
  display: inline-block;
}

.xoo-cp-close.xcp-btn {
  background: #1a1a1a;
  color: white;
}

.modal-price {
  text-align: right;
  margin: 0;
}

.ttt {
  background-color: yellowgreen;
  height: 40px;
}

.t {
  background-color: #999e8d;
  height: 40px;
}

.tt {
  background-color: #1b2010;
  height: 40px;
}

.count-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.model-numb {
  width: 50px;
  height: 42px;
  border: 1px solid black;
  border-right: 0;
  text-align: center;
}

.modal-minus, .modal-plus {
  border: 1px solid black;
  height: 21px;
  width: 23px;
  text-align: center;
  padding-top: -9px;
  font-size: 15px;
}

.text_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.text_center p {
  margin: 0;
}

.image_modal img {
  width: 100%;
}

@media (max-width: 575px) {
  .image_modal {
    display: none;
  }
}
/*# sourceMappingURL=products.component.css.map */