dl, h1, h2, h3, h4, h5, h6, ol, p {
  margin-top: 0;
}

.product {
  padding: 20px 0;
}

.block_container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 160px;
  padding: 0 20px;
}

.block-product-img {
  text-align: center;
}

.shown-categories__item--description-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .3125rem;
}

.shown-categories__item--description-text {
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.25rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shown-categories__item--description-params {
  font-size: .75rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0;
}

.shown-categories__item--description-more {
  color: #c09560;
  font-size: .8125rem;
  font-weight: 600;
  margin: .625rem 0 0;
}

.product-img {
  position: relative;
}

.imageProduct {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-def.white {
  color: #fff;
  border: .0625rem solid #fff;
}

.btn-def.black {
  color: #323232;
  border: .0625rem solid #323232;
}

.btn-def.btnProd {
  background-color: black;
  border: .0625rem solid #323232;
  color: white;
}

.btn-def {
  margin-top: 29px;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: .25rem;
  max-width: 13.75rem;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: .625rem;
  position: relative;
  letter-spacing: .0625rem;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  z-index: 2;
}

.btn-def:hover {
  border-color: #c09560;
  color: #c09560;
}

.btn-def.white::after {
  background: white;
}

.btn-def.black::after {
  background: black;
}

.btn-def.btnProd::after {
  background: white;
}

.btn-def::after {
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-def:hover::after {
  background: #c09560;
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-price {
  text-align: right;
  margin: 0;
}

.count-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.model-numb {
  width: 50px;
  height: 42px;
  border: 1px solid black;
  border-right: 0;
  text-align: center;
}

.modal-minus, .modal-plus {
  border: 1px solid black;
  height: 21px;
  width: 23px;
  text-align: center;
  padding-top: -9px;
  font-size: 15px;
}

.text_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.text_center p {
  margin: 0;
}

.image_modal img {
  width: 100%;
}

@media (max-width: 1054px) {
  .btn-def {
    font-size: 0.7rem;
  }
}

@media (max-width: 950px) {
  .imageProduct {
    width: 95%;
  }
}

@media (max-width: 902px) {
  .btn-def {
    font-size: 0.55rem;
  }
}

@media (max-width: 767px) {
  .imageProduct {
    width: 193px;
  }
}

@media (max-width: 575px) {
  .image_modal {
    display: none;
  }
  .xcp-btn {
    display: inline-block;
  }
}
/*# sourceMappingURL=products.component.css.map */