<div class="bg_image" [class]="season">
    <div class="container_home">
        <div class="home-slider__item slick-slide">
            <h2 class="section-title white">Chateau Chizay</h2>
            <div class="icon icon-tilde">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                    <path
                        d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                        fill="#c09560"></path>
                </svg>
            </div>
            <p class="slider-text">Робити якісні вина – цікаво.<br>
                Та ми прагнемо більшого.<br>
                Нас не влаштовує бути найкращими.<br>
                Маємо бути унікальними.</p>
            <div class="container-btn">
                <a class="btn-def white" [routerLink]="[ '/shop' ]" tabindex="0">Онлайн дешевше</a>
            </div>
        </div>
    </div>
</div>
<div class="container_home">
    <div class="home_about row">

        <div class="home_block_about col-xl-6 col-lg-6 col-md-6 p-0 m-0">
            <div class="block_news">
                <div class="home-about__block--text">
                    <h2 class="section-title white">Новини</h2>
                    <p>Про події з вином, про вино і навколо вина. Розповідаємо, чим живе Шато Чизай та ділимося тим, що
                        вміємо і любимо.</p>
                    <a [routerLink]="[ '/news' ]" class="btn-def white">Детальніше</a>
                </div>
            </div>
            <div class="home-about__block without-img bg_img1">
                <h2 class="section-title black">Де купити</h2>
                <a class="btn-def black">Карта магазинів</a>
            </div>
        </div>

        <div class="home_block_about col-xl-6 col-lg-6 col-md-6 p-0 m-0 block_reverse">
            <div class="block_our_vine">
                <div class="home-about__block--text">
                    <h2 class="section-title white">Наші<br>
                        вина</h2>
                    <p>Вина "Шато Чизай" зроблені <br>виключно з власного винограду</p>
                    <a [routerLink]="[ '/shop' ]" class="btn-def white">Онлайн зі знижкою</a>
                </div>
            </div>
            <div class="home-about__block without-img bg_img2">
                <h2 class="section-title black">Тури в Шато Чизай</h2>
                <a [routerLink]="[ '/tours' ]" class="btn-def black">Відвідай Шато</a>
            </div>
        </div>

    </div>
</div>

<div class="block_restouran_hotel">
    <div class="content">
        <h2>Ресторан та мініготель <br> "Chizay. Мала гора" </h2>
        <div class="baner-links">
            <a [routerLink]="[ '/restaurant' ]" class="btn-def white">Ресторан</a>
            <a class="btn-def white">Мініготель</a>
        </div>
    </div>
</div>

<div class="container_home">
    <div class="block_shop">
        <h2 class="section-title black">Магазин та перегляд <br> нашої продукції</h2>

        <div class="shop-preview">
            <div class="row">
                <a class="col-md-3 col-6 shop-preview__item-wrapper" *ngFor="let prod of homeProd">
                    <div class="shop-preview__item">
                        <img [src]="prod.image" style="height: 303px;">
                        <p class="shop-preview__item--description">{{prod.name}}</p>
                    </div>
                </a>
            </div>
            <br>
            <div class="container-btn">
                <a [routerLink]="[ '/shop' ]" class="btn-def black">Відвідати магазин</a>
            </div>
        </div>
    </div>


    <div class="block_muzeum">
        <div class="row">
            <div class="hall-preview__image col-xl-6 col-lg-6 col-md-6">
            </div>
            <div class="hall-preview__text col-xl-6 col-lg-6 col-md-6">
                <h3 class="block-title">Музей винороба Чиза</h3>
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="hall-preview__text--description">Нашому найстарішому пресу для вина 300 років, але ми
                    використали
                    сучасні інтерактивні технології, щоб про нього розповісти. У Музеї винороба Чиза можна і побачити
                    старовинний виноградарський і виноробний реманент, і дізнатися, як саме наші предки виготовляли
                    легендарний напій. Один з двох існуючих музеїв в Україні про культуру та історію виноробства та
                    виноградарства чекає на вас 7 днів на тиждень!</p>
                <a class="read-more-btn">Детальніше</a>
            </div>
        </div>
    </div>

    <div class="block_muzeum">
        <div class="row muzeum_reverse">
            <div class="hall-preview__text  col-xl-6 col-lg-6 col-md-6">
                <h3 class="block-title">Музей винороба Чиза</h3>
                <div class="icon icon-tilde">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 4.6" id="tilde">
                        <path
                            d="M15.6 3.9h-.9c-1.4-.1-2.8-.6-4.1-.9-.8-.3-1.7-.6-2.6-.8-1.5-.3-4.3-.6-6.1 1.1-.2.2-.5.2-.7 0-.2-.2-.2-.6 0-.7 2.1-2 5.3-1.7 7-1.3.9.1 1.8.4 2.7.7 1.3.4 2.6.8 3.9.9 1.9.2 4.5-.3 5.6-2.2.1-.2.4-.3.7-.2.2.1.3.4.2.7-1.2 2-3.6 2.7-5.7 2.7z"
                            fill="#c09560"></path>
                    </svg>
                </div>
                <p class="hall-preview__text--description">Нашому найстарішому пресу для вина 300 років, але ми
                    використали
                    сучасні інтерактивні технології, щоб про нього розповісти. У Музеї винороба Чиза можна і побачити
                    старовинний виноградарський і виноробний реманент, і дізнатися, як саме наші предки виготовляли
                    легендарний напій. Один з двох існуючих музеїв в Україні про культуру та історію виноробства та
                    виноградарства чекає на вас 7 днів на тиждень!</p>
                <a class="read-more-btn">Детальніше</a>
            </div>
            <div class="hall-preview__image2 p-0 col-xl-6 col-lg-6 col-md-6">
            </div>

        </div>
    </div>

</div>